body{
  background:  black !important;
  height: 500px;
}
.navbar-brand{
  color: goldenrod;
}
.navbar-brand:hover{
  color: rgb(228, 164, 5);
}
.gold-border{
  border-color: 2px solid  gold !important;
}